<% include partials/head %>
  <!-- <h1>[Home Page]</h1>
 -->



<!-- <div class="jumbotron" style="background: #20B2AA; color: white; display: flex; align-items: center; justify-content: center; height: 240px; box-shadow: none; border: none">
  <h1 class="" style="font-size: 4em; ">Houston Helps</h1>
</div> -->
<div style="background: #E0FFFF">

<center style="background: #E0FFFF">
  <img src="/doneLogo.png" / class="img-fluid">
  <br> <br />
  <h2>Connecting In-Kind Donors with Local Nonprofits</h2>
  <br> <br />

</center>
<br>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <div class="container text-center">
      <a href="/donate"><button class="btn btn-large btn-danger" style="border-radius: 5px; background: #e32636">
        <h3>Donate Today</h3></button></a>
      <hr>
      <p class="lead"><strong>Login to view our listings</strong></p>
      <a href="/login">
      <button class="btn btn-large " style="border-radius: 5px; background: #20B2AA; font-size: 1.2em;" >
        Case Manager Login</button> </a>
      <br><br>

    </div>
  </div>
  <div class="col-md-2">

  </div>
</div>


</div>

<% include partials/footer %>
<!-- , align-self, and justify-content -->
