<% include partials/head %>


<div class="jumbotron" style="background: #20B2AA; color: white; display: flex; align-items: center; justify-content: center; height: 180px; padding: 0px; margin: 0px;">
  <h1 class="display-2">Login</h1>
</div>

<div class="loginForm" style= "height: 800px; background: #E0FFFF; display: flex; align-items: center; justify-content: center;">


  <form action="listing">
    <input type="text" placeholder="Username" width="70%">
    <input type="text" placeholder="Password" width="70%">
    <br>
    <button class="btn btn-block btn-primary"> Submit </button>
  </form>


</div>



<% include partials/footer %>
