<% include partials/head %>
<div style="background: #E0FFFF ">

<div class="container" style="background: #E0FFFF ">
  <br>
  <center>
    <img src="/doneLogo.png" / class="img-fluid">
    <br> <br>
    <h1><strong>Thank you for your donation, <%= contactName %>!</strong></h1>
    <hr> <br>
    <h3>
  Your generous contribution will help local non-profits provide more resources to the needed communities.
  One of our partnered non-profits will contact you shortly to arrange pick-up.
    </h3>
<br><br><br>
  </center>


</div>


</div>

<% include partials/footer %>
